%section#contacts2-4.mbr-section.mbr-section-md-padding.mbr-footer.footer2.mbr-parallax-background{:style => "background-image: url(/images/pexels-photo-26829-2000x1002-92.jpg); padding-top: 90px; padding-bottom: 90px;"}
  .mbr-overlay{:style => "opacity: 0.6; background-color: rgb(0, 0, 0);"}
  .container
    .row
      .mbr-footer-content.col-xs-12.col-md-3
        %p
          %strong Address
          %br/
          1234 Street Name
          %br/
          City, AA 99999
          %br/
          %br/
          %br/
          %strong Contacts
          %br/
          Email: support@mobirise.com
          %br/
          Phone: +1 (0) 000 0000 001
          %br/
          Fax: +1 (0) 000 0000 002
      .mbr-footer-content.col-xs-12.col-md-3
        %strong Links
        %ul
          %li
            %a.text-white{:href => "https://mobirise.com/"} Website builder
          %li
            %a.text-white{:href => "https://mobirise.com/mobirise-free-win.zip"} Download for Windows
          %li
            %a.text-white{:href => "https://mobirise.com/mobirise-free-mac.zip"} Download for Mac
      .col-xs-12.col-md-6
        .mbr-map
          %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw", :style => "border:0"}
