%section#contacts2-4.mbr-section.mbr-section-md-padding.mbr-footer.footer2.mbr-parallax-background{:style => "background-image: url( {{ site.metafields.bgs.contact }} ); padding-top: 90px; padding-bottom: 90px;"}
  .mbr-overlay{:style => "opacity: 0.6; background-color: rgb(0, 0, 0);"}
  .container
    .row
      .mbr-footer-content.col-xs-12.col-md-3
        %p
          %strong Address
          %br/
          {{ site.metafields.address.street }}
          %br/
          {{ site.metafields.address.city }}
          %br/
          %br/
          %br/
          %strong Contacts
          %br/
          Email: {{ site.metafields.contacts.email }}
          %br/
          Phone: {{ site.metafields.contacts.phone }}
          %br/
          Fax: {{ site.metafields.contacts.fax }}
      .mbr-footer-content.col-xs-12.col-md-3
        %strong Links
        %ul
          %li
            %a.text-white{:href => "{{ site.metafields.links.link1_url }}"} {{ site.metafields.links.link1_title }}
          %li
            %a.text-white{:href => "{{ site.metafields.links.link2_url }}"} {{ site.metafields.links.link2_title }}
          %li
            %a.text-white{:href => "{{ site.metafields.links.link3_url }}"} {{ site.metafields.links.link3_title }}
        %br
        .mbr-section-btn
          %a.btn.btn-lg.btn-primary{:href => "https://mobirise.com"} {{ 'home' | translate }}
      .col-xs-12.col-md-6
        .mbr-map
          %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw", :style => "border:0"}
