%section#gallery1-0.mbr-gallery.mbr-section.mbr-section-nopadding.mbr-slider-carousel{"data-filter" => "false", :style => "background-color: rgb(255, 255, 255); padding-top: 0rem; padding-bottom: 0rem;"}
  / Filter
  / Gallery
  .mbr-gallery-row
    .mbr-gallery-layout-default
      %div
        %div
          .mbr-gallery-item.mbr-gallery-item__mobirise3.mbr-gallery-item--p0{"data-tags" => "Awesome", "data-video-url" => "false"}
            %div{"data-slide-to" => "0", "data-toggle" => "modal", :href => "#lb-gallery1-0"}
              %img{:alt => "", :src => "/images/bike-small.jpg"}/
              %span.icon-focus
          .mbr-gallery-item.mbr-gallery-item__mobirise3.mbr-gallery-item--p0{"data-tags" => "Responsive", "data-video-url" => "false"}
            %div{"data-slide-to" => "1", "data-toggle" => "modal", :href => "#lb-gallery1-0"}
              %img{:alt => "", :src => "/images/code-man-small.jpg"}/
              %span.icon-focus
          .mbr-gallery-item.mbr-gallery-item__mobirise3.mbr-gallery-item--p0{"data-tags" => "Creative", "data-video-url" => "false"}
            %div{"data-slide-to" => "2", "data-toggle" => "modal", :href => "#lb-gallery1-0"}
              %img{:alt => "", :src => "/images/coworkers-small.jpg"}/
              %span.icon-focus
          .mbr-gallery-item.mbr-gallery-item__mobirise3.mbr-gallery-item--p0{"data-tags" => "Animated", "data-video-url" => "false"}
            %div{"data-slide-to" => "3", "data-toggle" => "modal", :href => "#lb-gallery1-0"}
              %img{:alt => "", :src => "/images/desktop-small.jpg"}/
              %span.icon-focus
          .mbr-gallery-item.mbr-gallery-item__mobirise3.mbr-gallery-item--p0{"data-tags" => "Awesome", "data-video-url" => "false"}
            %div{"data-slide-to" => "4", "data-toggle" => "modal", :href => "#lb-gallery1-0"}
              %img{:alt => "", :src => "/images/room-laptop-small.jpg"}/
              %span.icon-focus
          .mbr-gallery-item.mbr-gallery-item__mobirise3.mbr-gallery-item--p0{"data-tags" => "Beautiful", "data-video-url" => "false"}
            %div{"data-slide-to" => "5", "data-toggle" => "modal", :href => "#lb-gallery1-0"}
              %img{:alt => "", :src => "/images/table-small.jpg"}/
              %span.icon-focus
          .mbr-gallery-item.mbr-gallery-item__mobirise3.mbr-gallery-item--p0{"data-tags" => "Responsive", "data-video-url" => "false"}
            %div{"data-slide-to" => "6", "data-toggle" => "modal", :href => "#lb-gallery1-0"}
              %img{:alt => "", :src => "/images/windows-books-small.jpg"}/
              %span.icon-focus
          .mbr-gallery-item.mbr-gallery-item__mobirise3.mbr-gallery-item--p0{"data-tags" => "Animated", "data-video-url" => "false"}
            %div{"data-slide-to" => "7", "data-toggle" => "modal", :href => "#lb-gallery1-0"}
              %img{:alt => "", :src => "/images/working-area-small.jpg"}/
              %span.icon-focus
      .clearfix
  / Lightbox
  #lb-gallery1-0.mbr-slider.modal.fade.carousel.slide{"data-app-prevent-settings" => "", "data-interval" => "false", "data-keyboard" => "true", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-body
          %ol.carousel-indicators
            %li.active{"data-app-prevent-settings" => "", "data-slide-to" => "0", "data-target" => "#lb-gallery1-0"}
            %li{"data-app-prevent-settings" => "", "data-slide-to" => "1", "data-target" => "#lb-gallery1-0"}
            %li{"data-app-prevent-settings" => "", "data-slide-to" => "2", "data-target" => "#lb-gallery1-0"}
            %li{"data-app-prevent-settings" => "", "data-slide-to" => "3", "data-target" => "#lb-gallery1-0"}
            %li{"data-app-prevent-settings" => "", "data-slide-to" => "4", "data-target" => "#lb-gallery1-0"}
            %li{"data-app-prevent-settings" => "", "data-slide-to" => "5", "data-target" => "#lb-gallery1-0"}
            %li{"data-app-prevent-settings" => "", "data-slide-to" => "6", "data-target" => "#lb-gallery1-0"}
            %li{"data-app-prevent-settings" => "", "data-slide-to" => "7", "data-target" => "#lb-gallery1-0"}
          .carousel-inner
            .carousel-item.active
              %img{:alt => "", :src => "/images/bike.jpg"}/
            .carousel-item
              %img{:alt => "", :src => "/images/code-man.jpg"}/
            .carousel-item
              %img{:alt => "", :src => "/images/coworkers.jpg"}/
            .carousel-item
              %img{:alt => "", :src => "/images/desktop.jpg"}/
            .carousel-item
              %img{:alt => "", :src => "/images/room-laptop.jpg"}/
            .carousel-item
              %img{:alt => "", :src => "/images/table.jpg"}/
            .carousel-item
              %img{:alt => "", :src => "/images/windows-books.jpg"}/
            .carousel-item
              %img{:alt => "", :src => "/images/working-area.jpg"}/
          %a.left.carousel-control{"data-slide" => "prev", :href => "#lb-gallery1-0", :role => "button"}
            %span.icon-prev{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#lb-gallery1-0", :role => "button"}
            %span.icon-next{"aria-hidden" => "true"}
            %span.sr-only Next
          %a.close{"data-dismiss" => "modal", :href => "#", :role => "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
