%section#header4-1.mbr-section.mbr-section-hero.mbr-section-full.mbr-parallax-background.mbr-section-with-arrow{:style => "background-image: url(/images/74kdzgjack.gif);"}
  .mbr-overlay{:style => "opacity: 0.5; background-color: rgb(0, 0, 0);"}
  .mbr-table-cell
    .container
      .row
        .mbr-section.col-md-10.col-md-offset-2.text-xs-right
          %h1.mbr-section-title.display-1 VIDEO BACKGROUND
          %p.mbr-section-lead.lead Intro with background video and color overlay. Text and buttons are aligned to right. Mobirise helps you cut down development time by providing you with a flexible website editor with a drag and drop interface.
  .mbr-arrow.mbr-arrow-floating{"aria-hidden" => "true"}
    %a{:href => "#pricing-table1-3"}
      %i.mbr-arrow-icon
