{% capture vlink %}http://www.youtube.com/embed/{{ site.metafields.bgs.youtube }}?rel=0&amp;showinfo=0&autoplay=0&loop=1{% endcapture %}
%section#header4-1.mbr-section.mbr-section-hero.mbr-section-full.mbr-parallax-background{:style => "background-image: url({{ site.metafields.bgs.video }}); padding-top: 240px; padding-bottom: 240px;"}
  .mbr-overlay{:style => "opacity: 0.5; background-color: rgb(0, 0, 0);"}
  .container
    .row
      .mbr-table-md-up
        .mbr-table-cell.mbr-right-padding-md-up.col-md-5.text-xs-center.text-md-right{:style => "color: #FFF; "}
          {% block 'video' %}
          %h3.mbr-section-title.display-2 {% editable_text "video", hint: "Big title.", block:"video", line_break: false, format: 'raw', rows: 1 %}video tuto{% endeditable_text %}
          .lead
            %p {% editable_text "lead", hint: "Lead text.", block:"video", format: "html", rows: 8 %}Click any text to edit or style it. Click blue "Gear" icon in the top right corner to hide/show buttons, text, title and change the block background.{% endeditable_text %}
          {% endblock %}
        .mbr-table-cell.mbr-valign-top.col-md-7
          .mbr-figure
            %iframe.mbr-embedded-video{:allowfullscreen => "", :frameborder => "0", :height => "720", :src => "{{ vlink }}", :style => "height: 357.1875px;", :width => "1280"}


