%section#menu-0
  %nav.navbar.navbar-dropdown.bg-color.transparent.navbar-fixed-top
    .container
      .mbr-table
        .mbr-table-cell
          .navbar-brand
            %a.navbar-caption{:href => "http://studiowan.fr"}
              %span.etl-icon.icon-compass.mbr-iconfont.mbr-iconfont-btn>
              StudioWAN.fr
        .mbr-table-cell
          %button.navbar-toggler.pull-xs-right.hidden-md-up{"data-target" => "#exCollapsingNavbar", "data-toggle" => "collapse", :type => "button"}
            .hamburger-icon
          %ul#exCollapsingNavbar.nav-dropdown.collapse.pull-xs-right.nav.navbar-nav.navbar-toggleable-sm
            %li.nav-item
              %a.nav-link.link{:href => "index.html#gallery1-0"}
                %span.etl-icon.icon-genius.mbr-iconfont.mbr-iconfont-btn>
                WEDO
            %li.nav-item
              %a.nav-link.link{:href => "index.html#header4-1"}
                %span.etl-icon.icon-pencil.mbr-iconfont.mbr-iconfont-btn>
                HOW
            %li.nav-item
              %a.nav-link.link{:href => "index.html#pricing-table1-3"}
                %span.etl-icon.icon-piechart.mbr-iconfont.mbr-iconfont-btn>
                PRICING
            %li.nav-item
              %a.nav-link.link{:href => "index.html#contacts2-4"}
                %span.etl-icon.icon-heart.mbr-iconfont.mbr-iconfont-btn>
                CONTACT
            %li.nav-item.nav-btn
              %a.nav-link.btn.btn-white.btn-white-outline{:href => "https://mobirise.com/"} DOWNLOAD
          %button.navbar-toggler.navbar-close{"data-target" => "#exCollapsingNavbar", "data-toggle" => "collapse", :hidden => "", :type => "button"}
            .close-icon
