{% block 'prices' %}
{% editable_model bundles %}
%section#pricing-table1-3.mbr-section{:style => "background-color: rgb(48, 48, 48); padding-top: 120px; padding-bottom: 120px;"}
  .mbr-section.mbr-section__container.mbr-section__container--middle
    .container
      .row
        .col-xs-12.text-xs-center
          %h3.mbr-section-title.display-2 PRICING TABLE
          %small.mbr-section-subtitle Pricing table with four columns and solid color background.
  .mbr-section.mbr-section-nopadding.mbr-price-table
    .row
      {% for bundle in contents.bundles %}
      .col-xs-12.col-md-3.col-xl-3
        .mbr-plan.card.text-xs-center
          {% case bundle.hot %}
          {% when true %}
          .mbr-plan-header.card-block.bg-primary
            .mbr-plan-label HOT!
            .card-title
              %h3.mbr-plan-title {{ bundle.title }}
              %small.mbr-plan-subtitle {{ bundle.description }}
            .card-text
              .mbr-price
                %span.mbr-price-value $
                %span.mbr-price-figure {{ bundle.price }}
                %small.mbr-price-term /mo.
              %small.mbr-plan-price-desc {{ bundle.detail }}
          {% when false %}
          .mbr-plan-header.card-block
            .card-title
              %h3.mbr-plan-title {{ bundle.title }}
              %small.mbr-plan-subtitle {{ bundle.description }}
            .card-text
              .mbr-price
                %span.mbr-price-value $
                %span.mbr-price-figure {{ bundle.price }}
                %small.mbr-price-term /mo.
              %small.mbr-plan-price-desc {{ bundle.detail }}
          {% endcase %}
          .mbr-plan-body.card-block
            .mbr-plan-list
              %ul.list-group.list-group-flush
                %li.list-group-item Storage: {{ bundle.storage }} Go
                %li.list-group-item Email addresses: {{ bundle.email }}
                %li.list-group-item option: {{ bundle.option }}
            .mbr-plan-btn
              %a.btn.btn-white.btn-white-outline{:href => "{{ item.link }}"} DEMO
      {% endfor %}
{% endeditable_model %}
{% endblock %}
