%section#pricing-table1-3.mbr-section{:style => "background-color: rgb(48, 48, 48); padding-top: 120px; padding-bottom: 120px;"}
  .mbr-section.mbr-section__container.mbr-section__container--middle
    .container
      .row
        .col-xs-12.text-xs-center
          %h3.mbr-section-title.display-2 PRICING TABLE
          %small.mbr-section-subtitle Pricing table with four columns and solid color background.
  .mbr-section.mbr-section-nopadding.mbr-price-table
    .row
      .col-xs-12.col-md-6.col-xl-3
        .mbr-plan.card.text-xs-center
          .mbr-plan-header.card-block
            .card-title
              %h3.mbr-plan-title STANDARD
              %small.mbr-plan-subtitle Description
            .card-text
              .mbr-price
                %span.mbr-price-value $
                %span.mbr-price-figure 0
                %small.mbr-price-term /mo.
              %small.mbr-plan-price-desc Mobirise is perfect for non-techies who are not familiar with web development.
          .mbr-plan-body.card-block
            .mbr-plan-list
              %ul.list-group.list-group-flush
                %li.list-group-item 32 GB storage
                %li.list-group-item Unlimited users
                %li.list-group-item 15 GB bandwidth
            .mbr-plan-btn
              %a.btn.btn-white.btn-white-outline{:href => "https://mobirise.com"} DEMO
      .col-xs-12.col-md-6.col-xl-3
        .mbr-plan.card.text-xs-center
          .mbr-plan-header.card-block.bg-primary
            .mbr-plan-label HOT!
            .card-title
              %h3.mbr-plan-title BUSINESS
              %small.mbr-plan-subtitle Description
            .card-text
              .mbr-price
                %span.mbr-price-value $
                %span.mbr-price-figure 0
                %small.mbr-price-term /mo.
              %small.mbr-plan-price-desc Mobirise is perfect for non-techies who are not familiar with web development.
          .mbr-plan-body.card-block
            .mbr-plan-list
              %ul.list-group.list-group-flush
                %li.list-group-item 32 GB storage
                %li.list-group-item Unlimited users
                %li.list-group-item 15 GB bandwidth
            .mbr-plan-btn
              %a.btn.btn-white.btn-white-outline{:href => "https://mobirise.com"} DEMO
      .col-xs-12.col-md-6.col-xl-3
        .mbr-plan.card.text-xs-center
          .mbr-plan-header.card-block
            .card-title
              %h3.mbr-plan-title PREMIUM
              %small.mbr-plan-subtitle Description
            .card-text
              .mbr-price
                %span.mbr-price-value $
                %span.mbr-price-figure 0
                %small.mbr-price-term /mo.
              %small.mbr-plan-price-desc Mobirise is perfect for non-techies who are not familiar with web development.
          .mbr-plan-body.card-block
            .mbr-plan-list
              %ul.list-group.list-group-flush
                %li.list-group-item 32 GB storage
                %li.list-group-item Unlimited users
                %li.list-group-item 15 GB bandwidth
            .mbr-plan-btn
              %a.btn.btn-white.btn-white-outline{:href => "https://mobirise.com"} DEMO
      .col-xs-12.col-md-6.col-xl-3
        .mbr-plan.card.text-xs-center
          .mbr-plan-header.card-block
            .card-title
              %h3.mbr-plan-title ULTIMATE
              %small.mbr-plan-subtitle Description
            .card-text
              .mbr-price
                %span.mbr-price-value $
                %span.mbr-price-figure 0
                %small.mbr-price-term /mo.
              %small.mbr-plan-price-desc Mobirise is perfect for non-techies who are not familiar with web development.
          .mbr-plan-body.card-block
            .mbr-plan-list
              %ul.list-group.list-group-flush
                %li.list-group-item 32 GB storage
                %li.list-group-item Unlimited users
                %li.list-group-item 15 GB bandwidth
            .mbr-plan-btn
              %a.btn.btn-white.btn-white-outline{:href => "https://mobirise.com"} DEMO
