---
title: Page d'accueil
slug: index
editable_elements:
  intro/intro: intro qui déchire
  intro/lead: |-
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed enim augue, a molestie nisl. Fusce pulvinar cursus nunc eget pharetra. Integer cursus feugiat sem, sed malesuada nibh facilisis a. Etiam ut libero urna. Sed sit amet elementum ligula. Nam nibh orci, pellentesque quis dignissim ac, adipiscing ut dolor.
  intro/button: '''<a class="btn btn-lg btn-primary" href="https://mobirise.com">EDITEZ
    MOI</a>'''
  features/1: |-
    <div class='card cart-block'>
              <div class='card-img iconbox'>
                <div class='etl-icon icon-phone mbr-iconfont mbr-iconfont-features7' style='color: rgb(255, 255, 255);'></div>
              </div>
              <div class='card-block'>
                <h4 class='card-title'>Bootstrap 4</h4>
                <p class='card-text'>Bootstrap 4 has been noted as one of the most reliable and proven frameworks and Mobirise has been equipped to develop websites using this framework.</p>
  features/2: |-
    <div class='card cart-block'>
              <div class='card-img iconbox'>
                <div class='etl-icon icon-edit mbr-iconfont mbr-iconfont-features7' style='color: rgb(255, 255, 255);'></div>
              </div>
              <div class='card-block'>
                <h4 class='card-title'>Responsive</h4>
                <p class='card-text'>One of Bootstrap 4's big points is responsiveness and Mobirise makes effective use of this by generating highly responsive website for you.</p>
  features/3: |-
    <div class='card cart-block'>
              <div class='card-img iconbox'>
                <div class='etl-icon icon-briefcase mbr-iconfont mbr-iconfont-features7' style='color: rgb(255, 255, 255);'></div>
              </div>
              <div class='card-block'>
                <h4 class='card-title'>Web Fonts</h4>
                <p class='card-text'>Google has a highly exhaustive list of fonts compiled into its web font
  features/4: |-
    <div class='card cart-block'>
              <div class='card-img iconbox'>
                <div class='etl-icon icon-linegraph mbr-iconfont mbr-iconfont-features7' style='color: rgb(255, 255, 255);'></div>
              </div>
              <div class='card-block'>
                <h4 class='card-title'>Unlimited Sites</h4>
                <p class='card-text'>Mobirise gives you the freedom to develop as many websites as you like given the fact that it is a desktop app.</p>
  features/5: |-
    <div class='card cart-block'>
              <div class='card-img iconbox'>
                <div class='etl-icon icon-phone mbr-iconfont mbr-iconfont-features7' style='color: rgb(255, 255, 255);'></div>
              </div>
              <div class='card-block'>
                <h4 class='card-title'>Bootstrap 4</h4>
                <p class='card-text'>Bootstrap 4 has been noted as one of the most reliable and proven frameworks and Mobirise has been equipped to develop websites using this framework.</p>
  features/6: |-
    <div class='card cart-block'>
              <div class='card-img iconbox'>
                <div class='etl-icon icon-edit mbr-iconfont mbr-iconfont-features7' style='color: rgb(255, 255, 255);'></div>
              </div>
              <div class='card-block'>
                <h4 class='card-title'>Responsive</h4>
                <p class='card-text'>One of Bootstrap 4's big points is responsiveness and Mobirise makes effective use of this by generating highly responsive website for you.</p>
  features/7: |-
    <div class='card cart-block'>
              <div class='card-img iconbox'>
                <div class='etl-icon icon-briefcase mbr-iconfont mbr-iconfont-features7' style='color: rgb(255, 255, 255);'></div>
              </div>
              <div class='card-block'>
                <h4 class='card-title'>Web Fonts</h4>
                <p class='card-text'>Google has a highly exhaustive list of fonts compiled into its web font
  features/8: |-
    <div class='card cart-block'>
              <div class='card-img iconbox'>
                <div class='etl-icon icon-linegraph mbr-iconfont mbr-iconfont-features7' style='color: rgb(255, 255, 255);'></div>
              </div>
              <div class='card-block'>
                <h4 class='card-title'>Unlimited Sites</h4>
                <p class='card-text'>Mobirise gives you the freedom to develop as many websites as you like given the fact that it is a desktop app.</p>
---
